* {
    margin: 0;
    padding: 0;
}

.site-heading {
    margin: 20px;
    background-color: rgb(71, 153, 201);
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.form-inline {
    margin: 10px;
}

.search-history {
    display: flex;
    flex-direction: row;
   align-items: center;
}

.btn, #clearSearch {
    height: 35px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid blue;
    padding: 5px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0 5px 0 5px;
}

#clearSearch:hover {
    background-color: rgb(246, 214, 166);
}

.btn:hover {
    background-color: rgb(246, 214, 166);
    border: 1px solid blue;
    color: black;
}

.hide {
    display: none;
    margin-left: 10px;
}

.main-h1 {
    font-size: 35px;
    text-align: center;
}

.row {
    margin-left: 0;
}

#uvindex {
    padding: 10px;
    color: black;
    border-radius: 5px;
}

.forecast {
    background-color: royalblue;
    margin-left: 20px;
    border-radius: 5px;
    color: whitesmoke;
}

h3 {
    font-size: 15px;
    margin-top: 10px;
}

p {
    font-size: 13px;
}

.main-p {
    font-size: 16px;
}

.fiveday {
    background-color: rgb(210, 223, 250);
    border-radius: 5px;
    padding: 20px;
}

.current {
    border: 1px dotted black;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(125, 164, 243);
}

body {
    background-color: rgb(198, 225, 255);
}

.tablebackground {
    background-color: rgb(224, 237, 255);
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.col-8 {
    flex: 0 0 65.5%;
    max-width: 65.5%;
}

@media screen and (max-width: 500px) {



    .card1 {
        padding-left: 26px
    }

}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 992px) {

    .forecast {
        max-width: 170px;
    }
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 1200px) {
    .forecast {
        max-width: 170px;
    }

    nav {
        width: 363px;
    }
    #cityname {
        width: 300px;
        margin: 5px;
    }

    .btn, #clearSearch {
        margin: 5px;
        width: 150px;
    }

    .form-inline {
        flex-flow: column;
    }

    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

